<div data-role="header" data-theme="redhat" data-position="fixed" data-id="myHeader" class="appHeader" data-tap-toggle="false">
    <img src="images/tmauctionslogo3.png" class="appHeaderLogo">
    <a href="#items" data-role="none" class="ui-btn-left">
        <img src="images/btn-back.png">
    </a>
    <a class="panel ui-btn-right" id="right-panel-button" data-role="none">
         <img src="images/btn-notf.png">
    </a>
    <span class="countbubble bubble"><%=notificationCount%></span>
    <div class="bar small"></div>
</div>
<div class="bar small"></div>
<div class="auction auctiontitle">
    <span>&nbsp;</span>
</div>
<div id="alertwrapper" class="alerts hidden"></div>
<div id="bidwrapper" class="alerts auction auctionalert hidden"></div>
<div data-role="content" id="itemDetailContent"></div>
<div data-role="footer" data-theme="a" data-position="fixed" data-id="myFooter" data-tap-toggle="false">
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <div class="ui-bar ui-bar-a cash" id="footercash">$<span><%=cash%></span></div>
        </div>
        <div class="ui-block-b">
            <div class="ui-bar ui-bar-a points" id="footerpoints"><span><%=points%></span> points</div>
        </div>
    </div>
</div>
